[Unit]
Description=System Daemon for Real-Time Monitoring

[Service]
Type=simple
ExecStart=/usr/local/bin/sysd
Restart=on-failure

[Install]
WantedBy=mult-user.target
Alies=sysd.service
